body {
  font-family: "Lato", sans-serif;
  background-color: #38373a;
  overflow: hidden;
  height: 100%;
}

::selection { /*Common*/
    background-color: #4ace4f;
}
::-moz-selection { /*Mozilla*/
    background-color: #4ace4f;
}
::-o-selection { /*Other*/
    background-color: #4ace4f;
}
::-ms-selection { /*Internet Explorer*/
    background-color: #4ace4f;
}
::-webkit-selection { /*Webkit*/
    background-color: #4ace4f;
}
.headContainer {
  position: fixed;
  bottom: 0px;
  width: 100%;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}
.heads {
  display: inline-block;
  width: 33%;
}
.headQuote {
  position: relative;
  display: inline-block; 
  z-index: 10;
  width: 33%;
  text-align: center;
  opacity: 0;
  transition: opacity 2s;
}
.headQuoteText {
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 11;
  color: black;
}
.headQuote.fade {
  opacity: 1;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 2px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
  border: 2px solid black
}

.slider.round:before {
  border-radius: 50%;
  top: 2px;
}
